.chat-wrapper {
    width: 100%;
    height: 100vh;
    display: flex;
    //không thay đổi kích thước

    // justify-content: center;
    
    .conversations-wrapper {
        width: 50vh;
        background-color: #ebedf0;
        display: flex;
        flex-direction: column;
        align-items: center;
        
        button{
            width: 50%;
        }

        .conversations-header {
            width: 100%;
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 0 20px;

            button {
                width: 50%;
                background-color: #1CA1C1;
                color: #fff;
                border-radius: 5px;
                border: none;
                font-weight: 700;
                padding: 0px 10px;
            }
        }
    
        .search-wrapper {
            width: 88%;
            border: 1px solid #ccc;
            border-radius: 5px;
            position: relative;
            margin: 10px 0 20px;

            input {
                border: none;
                text-align: left;
                padding: 8px 10px;
                font-size: 14px;
            }

            .search-icon {
                position: absolute;
                right: 10px;
                top: 7px;
                color: #ccc;
                cursor: pointer;
            }
        }
        .btnCreateGroup{
            width: 100%;
            height:50px;
            background-color: #1CA1C1;
            color: #fff;
            border-radius: 0;
            border: none;
            font-weight: 700;
            padding: 0px 10px;
        }

        hr {
            width: 100%;
        }
    }
    
}
.friend-info{
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}
.line-friend{
    display: flex;
    justify-content: space-between;
    margin: 10px;
   align-items: center;
}
.modal-create-group{
    justify-content: center;
    align-items: center;
    width: 50%;
    background-color: #ffffff;
    z-index: 1;
    border: 1px solid black;
    margin: auto;
    margin-top: 50px;
    border-radius: 10px;
}
.checkBox{
    height: 20px;
    width: 20px;

}
.btnCreate{
    width: 150px;
    background-color: #1CA1C1;
    color: #fff;
    border-radius: 10;
    border: none;
    font-weight: 700;
    padding: 0px 10px;
    margin-bottom: 20px;
    margin-right: 20px;

}
.btnClose{
    width: 150px;
    background-color: #a9a9a9;
    color: #fff;
    border-radius: 10;
    border: none;
    font-weight: 700;
    padding: 0px 10px;
    margin-right: 20px;
}
.btnCreateDisable{
    width: 150px;
    background-color: #a9a9a9;
    color: #fff;
    border-radius: 10;
    border: none;
    font-weight: 700;
    padding: 0px 10px;
    margin-bottom: 20px;
    margin-right: 20px;
}