.conversation-wrapper1f {
    width: 100%;
    display: flex;
    padding: 10px 20px;
    cursor: pointer;
    align-items: center;
    color: black;
    background-color: white;
    border-radius: 10px;

    &:hover {
        background-color: rgb(216, 216, 216);
      }

    img {
        width: 50px;
        height: 50px;
        border-radius: 50%;
    }

    h4{
        flex: 7;
        padding-left: 20px;
    }
    .btn1f{
        flex: 2;
        background-color: rgb(255, 0, 0);
    }

}
