.message-wrapper {
    width: 70%;
    display: flex;
    padding: 20px;
}
.file-icon{
    width: auto;
    height: 30px;
    margin: 10px ;
}

.link-file{
    color: #000000;
    font-size: 14px;
}
.btnOption{
    color: #000000;
    font-size: 20px;
    width: 20px;
    height: auto;
    background-color: inherit;
    margin-left: 10px;
    
}
.btn{
    background-color: inherit;
    color: #000000;
    margin: 15px
}

.modal-option{
    background-color: #ffffff;
    width: 20%;
    margin: auto;
    margin-top: 15%;
    padding: 10px;
    border-radius: 10px;
    border: #000000 1px solid;
}
.modal-share{
    background-color: #ffffff;
    width: 40%;
    margin: auto;
    padding: 10px;
    border-radius: 10px;
    border: #000000 1px solid;
}



.message-wrapper.user-message {
    justify-content: flex-end;
    width: 78%;
    position: relative;
    right: -200px;

    .user-image{
        position: absolute;
        width: 35px;
        height: 35px;
        border-radius: 50%;
        // nằm sát lề phải
        right: 20px;
    }
    .file-show{
        flex-direction: row;
        background-color: #f3f3f3;
        border-width: 1px;
        border-color: #000000;
        border-radius: 10px;
        padding: 10px;
    }
    .message-image{
        max-width: 300px
    }
    .message-video{
        max-width: 300px 
    }
    .message-info {
        width: auto;
        display: flex;
        flex-direction: column;
        background-color: #ffffff;
        padding: 10px;
        border-radius: 10px;
        margin-right: 50px;
        .mc-header {
            width: 100%;
            display: flex;
            justify-content: space-between;
            color: black;
            p {
                margin-left: 20px;
                font-size: 14px;
                color: #000000;
            }
        }

        .message-content {
            max-width: 450px;
            margin-top: 10px;
            color: black;
            //xuống dòng khi dài quá
            white-space: pre-line;
            word-wrap: break-word;
        
        }
    }
  }
  
  .message-wrapper.receiver-message {
    justify-content: flex-start;
    .user-image {
        width: 35px;
        height: 35px;
        border-radius: 50%;
        margin-right: 10px;
    }
    .message-image{
       max-width: 300px;
    }
    .file-show{
        flex-direction: row;
        background-color: #ffffff;
        border-width: 1px;
        border-color: #000000;
        border-radius: 10px;
        padding: 10px;
    }
    .message-video{
        max-width: 300px
    }
    .message-info {
        width: auto;
        display: flex;
        flex-direction: column;
        background-color: #64bad0;
        padding: 10px;
        border-radius: 10px;

        .mc-header {
            width: 100%;
            display: flex;
            justify-content: space-between;

            p {
                font-size: 14px;
                color: #ffffff;
                margin-left: 20px;
            }
        }

        .message-content {
            max-width: 450px;
            margin-top: 10px;
            color: black;
            //xuống dòng khi dài quá
            white-space: pre-line;
            word-wrap: break-word;
        }
    }
  }
  .message-notify{
    max-width: 450px;
    margin-top: 10px;
    color: black;
    //xuống dòng khi dài quá
    white-space: pre-line;
    word-wrap: break-word;
    font-weight: 'bold';
    font-style: italic;
  }